/* Navbar */
.navbar {
  max-height: 60px;
  background-color:gray;
  font-size: 18px;
  margin: inherit;
}
.navbar-light .navbar-brand {
  color: white;
  margin-left: 10px;
  background-color: rgb(29, 179, 179);
  padding: inherit;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 24px;
  
}
.navbar-nav {
justify-content: end;
}
.nav-item-dropdown .dropdown .dropdown-menu  {
  background-color: white;
}


/* Body */
body{
  background-color: rgb(184, 179, 179);
}

.box{
  margin-top: 120px;
  margin-bottom: 10px;
  margin-right: 30px;
  margin-left: 30px; 
  padding: 25px;
  background-color: white;
}

.tittle{
  color:rgb(29, 179, 179);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  padding-top: 20px;
}

p {
  color: rgb(97, 95, 95);
  font-family: Arial, Helvetica, sans-serif;
}

footer{
  text-align: center;
  min-height: 50px;
  color: white;
  border-top-style: solid;
  border-top-width: 10px;
  border-top-color:rgb(29, 179, 179);
  background-color:  grey;
  left:0;
  bottom: 0;
  width: 100%;
  position: fixed;
  padding-top: 20px;
}
